.sf
  .reveal
    width 88%
    margin-left 12%

  #sf-aside
    background-color rgba(0,0,0,.25)
    color #CCC
    position absolute
    top 0
    left 0
    bottom 0
    width 12%
    display flex
    flex-direction column

    h2,h4
      padding-left 1rem

    h2
      background-color rgba(0,0,0,.2)
      margin 0
      padding-top 1rem
      padding-bottom 1rem
      line-height 1.25

    .qrcodes
      flex 1 1

    .qrcode
      background-color white
      border-radius .25rem
      display block
      margin 0 auto
      padding .25rem
      opacity .85

    ul
      border-top 1px solid CurrentColor
      padding 1rem 0 0 1rem

      li
        list-style none
        line-height 2.5

      a
        color #DDD
        text-decoration underline

        &:hover
          color yellow
          text-decoration none