.sf
  .reveal
    width 85%
    margin-left 15%

  #sf-aside
    background-color rgba(0,0,0,.25)
    color #DDD
    position absolute
    top 0
    left 0
    bottom 0
    width 15%

    > *
      padding-left 1rem

    h2
      background-color rgba(0,0,0,.2)
      margin 0
      padding-top 1rem
      padding-bottom 1rem
      line-height 1.25

    .qrcode
      padding .5rem
      border-radius .5rem

    ul
      li
        list-style none
        line-height 2.5

      a
        color #DDD
        text-decoration underline

        &:hover
          color yellow
          text-decoration none